<div class="container" style="">
  <div class="row result-container">
    <div class="col col-sm-3" style="cursor:pointer; outline:none" ng-click="vm.displayValue = 0; vm.operator = ''">
        AC
    </div>
    <div class="col col-sm-9 result-display">
      {{vm.displayValue}}
    </div>
  </div>
  <div class="row">
    <div class="col col-sm-3">
      <button ng-click="vm.updateDisplay(7, vm.displayValue)">7</button>
    </div>
    <div class="col col-sm-3">
      <button ng-click="vm.updateDisplay(8, vm.displayValue)">8</button>
    </div>
    <div class="col col-sm-3">
      <button ng-click="vm.updateDisplay(9, vm.displayValue)">9</button>
    </div>
    <div class="col col-sm-3">
        <button class="operator-button" ng-disabled="vm.operator != ''" ng-click="vm.updatedOperator('divide', vm.displayValue)">/</button>
    </div> 
  </div>
  <div class="row">
    <div class="col col-sm-3">
      <button ng-click="vm.updateDisplay(4, vm.displayValue)">4</button>
    </div> 
    <div class="col col-sm-3">
      <button ng-click="vm.updateDisplay(5, vm.displayValue)">5</button>
    </div>
    <div class="col col-sm-3">
      <button ng-click="vm.updateDisplay(6, vm.displayValue)">6</button>
    </div>
    <div class="col col-sm-3">
        <button class="operator-button" ng-disabled="vm.operator != ''" ng-click="vm.updatedOperator('multiply', vm.displayValue)">X</button>
    </div>
  </div>
  <div class="row">
    <div class="col col-sm-3">
      <button ng-click="vm.updateDisplay(1, vm.displayValue)">1</button>
    </div> 
    <div class="col col-sm-3">
      <button ng-click="vm.updateDisplay(2, vm.displayValue)">2</button>
    </div>
    <div class="col col-sm-3">
      <button ng-click="vm.updateDisplay(3, vm.displayValue)">3</button>
    </div>
    <div class="col col-sm-3">
        <button class="operator-button" ng-disabled="vm.operator != ''" ng-click="vm.updatedOperator('subtract', vm.displayValue)">-</button>
    </div>
  </div>
  <div class="row">
    <div class="col col-sm-3">
      <button ng-click="vm.updateDisplay(0, vm.displayValue)">0</button>
    </div> 
    <div class="col col-sm-3">
      <button ng-click="vm.setDecimal(vm.displayValue)">.</button>
    </div>
    <div class="col col-sm-3">
      <button ng-click="vm.doCalculation(vm.operator, vm.displayValue)">=</button>
    </div>
    <div class="col col-sm-3">
        <button class="operator-button" ng-disabled="vm.operator != ''" ng-click="vm.updatedOperator('add', vm.displayValue)">+</button>
    </div>
  </div>
</div>

